{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}
{% block pageTitle %}
  Years you stopped smoking cigarillos - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigars/current/cigarillo/stopped-years-answer" method="post">
<h2>Years you stopped smoking cigarillos</h2>
        {{ input({
          label: {
            text: "Enter the total number of years you stopped smoking cigarillos for",
            classes: "nhsuk-label--m"
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "cigarsCurrentCigarilloStoppedYears",
          name: "cigarsCurrentCigarilloStoppedYears",
          classes: "nhsuk-input--width-2",
          suffix: {
            text: "years"
          },
          value: data.cigarsCurrentCigarilloStoppedYears
        }) }}
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}