{% if not (hidePhaseBanner or contentData.hidePhaseBanner) %}
  <div class="nhsuk-phase-banner">
    <div class="nhsuk-width-container">
      <div class="nhsuk-phase-banner__content">
        {{ tag({
          text: phaseBanner.tagText,
          classes: phaseBanner.tagClasses
        }) }}
        <p class="nhsuk-phase-banner__text nhsuk-body-s">
          We are testing a new service – your <a class="nhsuk-link" href="https://feedback.digital.nhs.uk/jfe/form/SV_d4MPGuH486oxASW" target="_blank" rel="noopener noreferrer">feedback</a> will help us to improve it.
        </p>
      </div>
    </div>
  </div>
{% endif %}
