// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  .nhsuk-grey-date {
   color: $nhsuk-secondary-text-color; 
  }
  .nhsuk-panel-white {
    background-color: $color_nhsuk-white; 
    padding-left: 20px;
     padding-right: 15px;
      padding-top: 15px;
      padding-bottom: 10px;
  }