{% extends 'layout.html' %}

{% set pageHeading = "Have you ever been diagnosed with pneumonia, emphysema, bronchitis, tuberculosis (TB) or chronic obstructive pulmonary disease (COPD)?" %}

{% block beforeContent %}
{{ backLink({
href: "highest-level-completed-education",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="diagnosed-cancer" method="post" novalidate="true">

         {{ radios({
          "idPrefix": "diagnosedPneumonia",
          "name": "diagnosedPneumonia",
          "fieldset": {
            "legend": {
              "text": pageHeading,
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
          value: diagnosedPneumonia,
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

   
      {{ button({
      text: "Continue"
      }) }}


    </form>
  </div>
</div>
{% endblock %}