{% extends 'layout.html' %}

{% set pageHeading = "Have you ever been diagnosed with cancer?" %}

{% block beforeContent %}
{{ backLink({
href: "diagnosed-pneumonia-emphysema",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="exposed-to-asbestos" method="post" novalidate="true">

      {% set hintHtml -%}
  <p class="nhsuk-u-margin-bottom-2">This includes cancers that were called malignancies. Such as leukaemia, lymphoma and myeloma.</p>
{%- endset %}

         {{ radios({
          "idPrefix": "diagnosedCancer",
          "name": "diagnosedCancer",
          "fieldset": {
            "legend": {
              "text": pageHeading,
              "classes": "nhsuk-fieldset__legend--l",
              "isPageHeading": true
            }
          },
            hint: {
    html: hintHtml
  },
          value: data.diagnosedCancer,
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

   
      {{ button({
      text: "Continue"
      }) }}


    </form>
  </div>
</div>
{% endblock %}