{% extends 'layout.html' %}

{% set pageHeading = "What do you smoke?" %}

{% block beforeContent %}
{{ backLink({
href: "highest-level-completed-education",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="whatDidYouSmokeAnswer" method="post" novalidate="true">
      <h2>What do you smoke?</h2>
{{ checkboxes({
    idPrefix: "whatSmokeNow",
    name: "whatSmokeNow",
    fieldset: {
      legend: {
        isPageHeading: false,
        classes: "nhsuk-fieldset__legend--m"
      }
    },
    hint: {
      text: "Select all that apply."
    },
    items: [
      {
        value: "Cigarettes",
        text: "Cigarettes"
      },
           {
        value: "Rolled cigarettes",
        text: "Rolled cigarettes, or roll-ups"
      },
            {
        value: "Pipe",
        text: "Pipe"
      },
            {
        value: "Cigars",
        text: "Cigars"
      },
            {
        value: "Hookah",
        text: "Hookah or shisha"
      }
    ]
  }) }}


   
      {{ button({
      text: "Continue"
      }) }}


    </form>
  </div>
</div>
{% endblock %}