{% extends 'layout.html' %}
{% set pageHeading = "Have you ever stopped smoking for periods of 1 year or longer?" %}
{% block beforeContent %}
{{ backLink({
href: "javascript:history.back();",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="what-do-or-did-smoke" method="post" novalidate="true">
{{ radios({
 "idPrefix": "stopped-smoking-periods",
 "name": "stoppedSmokingPeriods",
 "fieldset": {
 "legend": {
 "text": pageHeading,
 "classes": "nhsuk-fieldset__legend--l",
 "isPageHeading": true
 }
 },
 "items": [
 {
 "value": "Yes",
 "text": "Yes",
 "conditional": {
 "html": '<div class="nhsuk-form-group"><label class="nhsuk-label nhsuk-label--s" for="years-stopped">Enter the total number of years you stopped smoking for</label><input class="nhsuk-input nhsuk-input--width-4" id="years-stopped" name="yearsStopped" type="text" spellcheck="false"></div>'
 }
 },
 {
 "value": "No",
 "text": "No"
 }
 ]
}) }}
{{ button({
text: "Continue"
}) }}
</form>
</div>
</div>
{% endblock %}