{% extends 'layout.html' %}

{% set pageHeading = "Complete an NHS Lung Health Check" %}
{% block beforeContent %}

<div class="nhsuk-back-link"> <a class="nhsuk-back-link__link" href="/index">
    <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="24" width="24">
      <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
    </svg>
    Go back</a>
</div>
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
  


<h1 class="nhsuk-heading-l">
  {{ pageHeading }}
</h1>

<p>The lung health check looks at how well your lungs are working and can help diagnose lung cancer as early as possible. Early diagnosis can make lung cancer more treatable and make treatment more successful.</p>
<p>You're eligible for this service if you are:</p>
<ul>
  <li>aged between 55 and 74</li>
  <li>registered with a GP surgery</li>
    <li>a current or former smoker</li>
</ul>

<a href="start-journey" class="nhsuk-button">
  Start now
</a>
  </div>
</div>

{% endblock %}