{% extends 'layout.html' %}

{% set pageName = "What is your sex assigned at birth?" %}
    {% set pageHeading = "What was your sex at birth?" %}

{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back();",
  text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="which-best-describes-you" method="post" novalidate="true">
<h2>{{pageHeading}}</h2>
  

{{ radios({
  idPrefix: "whatIsYourSex",
  name: "whatIsYourSex",
  fieldset: {
    legend: {
      classes: "nhsuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
    hint: {
      text: "Your sex may impact your chances of developing lung cancer."
    },
  value: data.whatIsYourSex,
  items: [
    {
      value: "Female",
      text: "Female"
    },
    {
      value: "Male",
      text: "Male"
    }
  ]
}) }}
      {{ button({
      text: "Continue"
      }) }}


    </form>
  </div>
</div>
{% endblock %}