{% extends 'layout.html' %}

{% set pageName = "What is your sex assigned at birth?" %}
    {% set pageHeading = "What is your sex assigned at birth?" %}

{% block beforeContent %}
{{ backLink({
href: "what-is-your-date-of-birth",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="what-is-your-ethnic-group" method="post" novalidate="true">
<h2>{{pageHeading}}</h2>
  

{{ radios({
  idPrefix: "whatIsYourSex",
  name: "whatIsYourSex",
  fieldset: {
    legend: {
      classes: "nhsuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
  value: data.whatIsYourSex,
  items: [
    {
      value: "Male",
      text: "Male"
    },
    {
      value: "Female",
      text: "Female"
    }
  ]
}) }}
      {{ button({
      text: "Continue"
      }) }}


    </form>
  </div>
</div>
{% endblock %}