{% extends 'layout.html' %}

{% set pageHeading = "At what age did you stop smoking?" %}

{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back();",
  text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="how-many-cigarettes-per-day" method="post" novalidate="true">
<h2>{{pageHeading}}</h2>
         {{ input({
  label: {
  text: "Enter your age, this can be an estimate."
  },
  id: "input-width-2",
  name: "ageStoppedSmoking",
  classes: "nhsuk-input--width-2"
}) }}
   
      {{ button({
      text: "Continue"
      }) }}


    </form>
  </div>
</div>
{% endblock %}