{% extends 'layout.html' %}

{% set pageHeading = "What is your ethnic group?" %}

{% block beforeContent %}
{{ backLink({
href: "what-is-your-sex",
text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="highest-level-completed-education" method="post" novalidate="true">

 {{ radios({
  "idPrefix": "ethnicGroup",
  "name": "ethnicGroup",
  "fieldset": {
    "legend": {
      "text": pageHeading,
      "classes": "nhsuk-fieldset__legend--l",
      "isPageHeading": true
    }
  },
    hint: {
      text: "Your ethnicity may impact your chances of developing some conditions that affect your lungs."
    },
    value: data.ethnicGroup,
  "items": [
    {
      "value": "Asian or Asian British",
      "text": "Asian: Indian, Pakistani, Bangladeshi, Chinese or other asian background"
    },
    {
      "value": "Black, African, Caribbean or Black British",
      "text": "Black, African, Caribbean or Black British"
    },
      {
      "value": "Mixed or multiple ethnic groups",
      "text": "Mixed or multiple ethnic groups"
    },
      {
      "value": "White",
      "text": "White: British, Irish or other white background"
    },
      {
      "value": "Other ethnic group",
      "text": "Other ethnic group"
    }
  ]
}) }}
   
      {{ button({
      text: "Continue"
      }) }}


    </form>
  </div>
</div>
{% endblock %}