{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}
{% from 'checkboxes/macro.njk' import checkboxes %}
{% block pageTitle %}
  Tell us about your pipe smoking history - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/pipe/former/quantity-monthly-answer" method="post">
<h2>Tell us about your pipe smoking history</h2>
        {{ input({
          label: {
            text: "What is the highest number of bowls you smoked a month on a regular basis?",
            classes: "nhsuk-label--m"
          },
          id: "pipeFormerQuantityMonthly",
          name: "pipeFormerQuantityMonthly",
          classes: "nhsuk-input--width-5",
          prefix: {
            text: "Number of bowls"
          },
          value: data.pipeFormerQuantityMonthly
        }) }}
        {{ checkboxes({
          idPrefix: "pipeFormerChanges",
          name: "pipeFormerChanges",
          fieldset: {
            legend: {
              text: "Did the amount of pipe you smoke change over time?",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          value: data.pipeFormerChanges,
          items: [
            {
              value: "increased",
              text: "Yes, it increased"
            },
            {
              value: "decreased",
              text: "Yes, it decreased"
            },
            {
              value: "stopped",
              text: "Yes, I stopped smoking for a period of 1 year or longer",
              exclusive: false
            },
            {
              divider: "or"
            },
            {
              value: "no-change",
              text: "No, it did not change",
              behaviour: "exclusive"
            }
          ]
        }) }}
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}