{% extends 'layout.html' %}
{% from 'input/macro.njk' import input %}
{% from 'checkboxes/macro.njk' import checkboxes %}
{% block pageTitle %}
  Tell us your smoking history for large cigars - NHS
{% endblock %}
{% block beforeContent %}
  {{ backLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="/prototype_v3/tobacco/cigars/former/large/quantity-weekly-answer" method="post">
<h2>Tell us your smoking history for large cigars</h2>
<p>We ask about the number of large cigars you smoked to help us give you an accurate risk score.</p>
        {{ input({
          label: {
            text: "Roughly how many large cigars did you normally smoke a week?",
            classes: "nhsuk-label--m"
          },
          hint: {
            text: "Give an estimate if you are not sure"
          },
          id: "cigarsFormerLargeQuantityWeekly",
          name: "cigarsFormerLargeQuantityWeekly",
          classes: "nhsuk-input--width-5",
          suffix: {
            text: "large cigars"
          },
          value: data.cigarsFormerLargeQuantityWeekly
        }) }}
        {{ checkboxes({
          idPrefix: "cigarsFormerLargeChanges",
          name: "cigarsFormerLargeChanges",
          fieldset: {
            legend: {
              text: "Did the number of large cigars you smoked change over time?",
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          value: data.cigarsFormerLargeChanges,
          items: [
            {
              value: "increased",
              text: "Yes, it increased"
            },
            {
              value: "decreased",
              text: "Yes, it decreased"
            },
            {
              value: "stopped",
              text: "Yes, I stopped smoking for a period of 1 year or longer",
              exclusive: false
            },
            {
              divider: "or"
            },
            {
              value: "no-change",
              text: "No, it did not change",
              behaviour: "exclusive"
            }
          ]
        }) }}
        {{ button({
          text: "Continue"
        }) }}
</form>
</div>
</div>
{% endblock %}