{% extends prototype.viewPath + "/layouts/main.html" %}

{% set title = page.heading.title %}
{% set caption = page.heading.caption %}

{% block beforeContent %}
{% if actions.back %}
{{ backLink({
  text: "Back",
  href: actions.back
}) }}
{% endif %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% include prototype.viewPath + "/includes/page-heading.html" %}

      {% if page.description %}
        {{ page.description | markdownToHtml | safe }}
      {% endif %}

      {% if page.insetText %}
        {{ insetText({
          html: page.insetText | markdownToHtml | safe
        }) }}
      {% endif %}

      {% if page.details %}
        {{ details({
          summaryText: page.details.summary,
          html: page.details.text | markdownToHtml | safe
        }) }}
      {% endif %}

      {% if actions.next %}
        {{ button({
          text: page.button.text | default("Continue"),
          href: actions.next,
          classes: page.button.classes
        }) }}
      {% endif %}

      {% for include in page.includes %}
        {% include prototype.viewPath + "/includes/" + include + ".html" %}
      {% endfor %}

    </div>
  </div>
{% endblock %}
