{% extends prototype.viewPath + "/layouts/main.html" %}

{% set title = page.heading.title %}
{% set caption = page.heading.caption %}

{% block beforeContent %}
{% if actions.back %}
{{ backLink({
  text: "Back",
  href: actions.back
}) }}
{% endif %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% include prototype.viewPath + "/includes/page-heading.html" %}

      {% if page.description %}
        {{ page.description | markdownToHtml | safe }}
      {% endif %}

      {% for section in summary.sections %}
        {% if section.heading %}
          <h2 class="nhsuk-heading-m">{{ section.heading }}</h2>
        {% endif %}

        {{ summaryList({
          rows: section.rows
        }) }}
      {% endfor %}

      {% if actions.next %}
        <div class="nhsuk-button-group">
          {{ button({
            text: page.button.text | default("Continue"),
            href: actions.next,
            classes: page.button.classes
          }) }}

          {% if actions.cancel %}
            <a class="nhsuk-link" href="{{ actions.cancel }}">{{ page.cancel.text | default("Cancel") }}</a>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>
{% endblock %}
