{% extends "prototype_v4/views/layouts/main.html" %}

{% set title = "Accept terms of use" %}

{% set bodyTextMarkdown %}
To continue, confirm that you have read and agree to the [NHS {{ serviceName }} terms of use](/prototype_v4/terms-of-use).
{% endset %}

{% block content %}
  {% include "prototype_v4/views/includes/error-summary.html" %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% include "prototype_v4/views/includes/page-heading.html" %}

      {{ bodyTextMarkdown | markdownToHtml | safe }}

      <form action="{{ actions.next }}" method="post" accept-charset="utf-8" novalidate>

        {{ checkboxes({
          name: "answers[acceptTerms]",
          values: data.answers.acceptTerms,
          items: [
            {
              value: "yes",
              text: "I agree"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>

      <p class="nhsuk-body">
        <a class="nhsuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
