{{ list({
  type: "tick",
  title: "For free help and support:",
  items: [
    {
      html: 'find your nearest local <a href="https://www.nhs.uk/better-health/quit-smoking/find-your-local-stop-smoking-service/" target="_blank" rel="noopener noreferrer" class="nhsuk-link">Stop Smoking Service</a>'
    },
    {
      html: 'get a <a href="https://www.nhs.uk/better-health/quit-smoking/personal-quit-plan/" target="_blank" rel="noopener noreferrer" class="nhsuk-link">free personal quit plan</a>'
    },
    {
      html: 'join the <a href="https://www.facebook.com/groups/quitsmoking/" target="_blank" rel="noopener noreferrer" class="nhsuk-link">Quit Smoking Group on Facebook</a>'
    },
    {
      html: 'read <a href="https://www.nhs.uk/better-health/quit-smoking/" target="_blank" rel="noopener noreferrer" class="nhsuk-link">NHS guidance on smoking</a>'
    },
    {
      html: 'call the free National Smokefree Helpline on <a href="tel:03001231044" class="nhsuk-link">0300 123 1044</a> (England only)'
    },
    {
      html: 'download the NHS Quit Smoking app from the <a href="https://apps.apple.com/gb/app/nhs-quit-smoking/id1452316449" target="_blank" rel="noopener noreferrer" class="nhsuk-link">Apple App Store</a> or <a href="https://play.google.com/store/apps/details?id=uk.nhs.nhsapp.quitsmoking" target="_blank" rel="noopener noreferrer" class="nhsuk-link">Google Play Store</a>'
    }
  ]
}) }}
