{% extends 'layout.html' %}
{% from 'checkboxes/macro.njk' import checkboxes %}
{% if data["smokedRegularly"] == "Yes-currently" %}
 {% set newContentText = "Smoking affects your health in different ways depending on what you smoke." %}
 {% set explanatoryText = "We need to know what you smoke, or used to smoke, on a regular basis. For example, if you have smoked a pipe on a weekly basis for a year or longer." %}
 {% set questionText = "What do you smoke regularly?" %}
 {% set formAction = "whatDoYouSmokeAnswer" %}
 {% set fieldName = "whatSmokeNow" %}
{% else %}
 {% set newContentText = "Smoking affects your health in different ways depending on what you smoked." %}
 {% set explanatoryText = "We need to know what you smoked on a regular basis. For example, if you smoked a pipe on a weekly basis for a year or longer." %}
 {% set questionText = "What did you smoke regularly?" %}
 {% set formAction = "whatDidYouSmokeAnswer" %}
 {% set fieldName = "whatDidSmoke" %}
{% endif %}
{% block pageTitle %}
  The type of tobacco you smoke or used to smoke - NHS
{% endblock %}
{% block beforeContent %}
{{ backLink({
 href: "javascript:history.back();",
 text: "Back"
}) }}
{% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
<div class="nhsuk-grid-column-two-thirds">
<form action="{{formAction}}" method="post" novalidate="true" id="tobaccoForm">
<h2>The type of tobacco you smoke or used to smoke</h2>
<p>{{newContentText}}</p>
<p>{{explanatoryText}}</p>
<p>You do not need to tell us about less frequent forms of smoking. For example, a cigar on special occasions.</p>

<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
      {{questionText}}
    </legend>
    <table class="nhsuk-table">
      <thead class="nhsuk-table__head">
        <tr class="nhsuk-table__row">
          <th class="nhsuk-table__header" scope="col"></th>
          <th class="nhsuk-table__header" scope="col">I currently smoke</th>
          <th class="nhsuk-table__header" scope="col">I used to smoke</th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Cigarettes</td>
          <td class="nhsuk-table__cell">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input tobacco-checkbox" id="cigarettes-current" name="tobacco-current" type="checkbox" value="Cigarettes" data-type="current">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="cigarettes-current">
                <span class="nhsuk-u-visually-hidden">I currently smoke cigarettes</span>
              </label>
            </div>
          </td>
          <td class="nhsuk-table__cell">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input tobacco-checkbox" id="cigarettes-former" name="tobacco-former" type="checkbox" value="Cigarettes" data-type="former">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="cigarettes-former">
                <span class="nhsuk-u-visually-hidden">I used to smoke cigarettes</span>
              </label>
            </div>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Rolled cigarettes</td>
          <td class="nhsuk-table__cell">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input tobacco-checkbox" id="rolled-current" name="tobacco-current" type="checkbox" value="Rolled cigarettes" data-type="current">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="rolled-current">
                <span class="nhsuk-u-visually-hidden">I currently smoke rolled cigarettes</span>
              </label>
            </div>
          </td>
          <td class="nhsuk-table__cell">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input tobacco-checkbox" id="rolled-former" name="tobacco-former" type="checkbox" value="Rolled cigarettes" data-type="former">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="rolled-former">
                <span class="nhsuk-u-visually-hidden">I used to smoke rolled cigarettes</span>
              </label>
            </div>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Pipe</td>
          <td class="nhsuk-table__cell">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input tobacco-checkbox" id="pipe-current" name="tobacco-current" type="checkbox" value="Pipe" data-type="current">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="pipe-current">
                <span class="nhsuk-u-visually-hidden">I currently smoke a pipe</span>
              </label>
            </div>
          </td>
          <td class="nhsuk-table__cell">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input tobacco-checkbox" id="pipe-former" name="tobacco-former" type="checkbox" value="Pipe" data-type="former">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="pipe-former">
                <span class="nhsuk-u-visually-hidden">I used to smoke a pipe</span>
              </label>
            </div>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Cigars</td>
          <td class="nhsuk-table__cell">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input tobacco-checkbox" id="cigars-current" name="tobacco-current" type="checkbox" value="Cigars" data-type="current">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="cigars-current">
                <span class="nhsuk-u-visually-hidden">I currently smoke cigars</span>
              </label>
            </div>
          </td>
          <td class="nhsuk-table__cell">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input tobacco-checkbox" id="cigars-former" name="tobacco-former" type="checkbox" value="Cigars" data-type="former">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="cigars-former">
                <span class="nhsuk-u-visually-hidden">I used to smoke cigars</span>
              </label>
            </div>
          </td>
        </tr>
        <tr class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Hookah or shisha</td>
          <td class="nhsuk-table__cell">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input tobacco-checkbox" id="hookah-current" name="tobacco-current" type="checkbox" value="Hookah" data-type="current">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="hookah-current">
                <span class="nhsuk-u-visually-hidden">I currently smoke hookah or shisha</span>
              </label>
            </div>
          </td>
          <td class="nhsuk-table__cell">
            <div class="nhsuk-checkboxes__item">
              <input class="nhsuk-checkboxes__input tobacco-checkbox" id="hookah-former" name="tobacco-former" type="checkbox" value="Hookah" data-type="former">
              <label class="nhsuk-label nhsuk-checkboxes__label" for="hookah-former">
                <span class="nhsuk-u-visually-hidden">I used to smoke hookah or shisha</span>
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>

 <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
   Continue
 </button>
</form>

<script>
  document.getElementById('tobaccoForm').addEventListener('submit', function(e) {
    e.preventDefault();
    
    // Collect checked current tobacco
    var currentChecked = [];
    document.querySelectorAll('input[name="tobacco-current"]:checked').forEach(function(checkbox) {
      currentChecked.push(checkbox.value);
    });
    
    // Collect checked former tobacco
    var formerChecked = [];
    document.querySelectorAll('input[name="tobacco-former"]:checked').forEach(function(checkbox) {
      formerChecked.push(checkbox.value);
    });
    
    // Create hidden input fields for each selected item
    // Add current tobacco as separate hidden inputs with same name
    currentChecked.forEach(function(value) {
      var input = document.createElement('input');
      input.type = 'hidden';
      input.name = 'whatSmokeNow';
      input.value = value;
      document.getElementById('tobaccoForm').appendChild(input);
    });
    
    // Add former tobacco as separate hidden inputs with same name
    formerChecked.forEach(function(value) {
      var input = document.createElement('input');
      input.type = 'hidden';
      input.name = 'whatDidSmoke';
      input.value = value;
      document.getElementById('tobaccoForm').appendChild(input);
    });
    
    // Submit the form
    this.submit();
  });
</script>
</div>
</div>
{% endblock %}