<h2 class="nhsuk-heading-m">
  Benefits of stopping smoking
</h2>

<p class="nhsuk-body">
  When you stop smoking, you lower your risk of cancer, protect the health of those around you, and enjoy a better quality of life.
</p>

{{ list({
  type: "tick",
  title: "When you quit, you:",
  items: [
    {
      text: "lower your risk of cancer, lung disease, heart disease, stroke and dementia"
    },
    {
      text: "protect your loved ones and pets from secondhand smoke"
    },
    {
      text: "feel better mentally in as little as 6 weeks"
    },
    {
      text: "save money - around £38 a week for the average smoker"
    },
    {
      text: "increase energy levels"
    },
    {
      text: "look better and have healthier skin"
    }
  ]
}) }}
