{% extends "prototype_v4/views/layouts/main.html" %}

{% set title = "Your ethnic background" %}

{% set bodyTextMarkdown %}
We ask this question because your ethnicity may impact your chances of developing lung cancer.
{% endset %}

{% block beforeContent %}
{{ backLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  {% include "prototype_v4/views/includes/error-summary.html" %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% include "prototype_v4/views/includes/page-heading.html" %}

      {{ bodyTextMarkdown | markdownToHtml | safe }}

      <form action="{{ actions.next }}" method="post" accept-charset="utf-8" novalidate>

        {{ radios({
          name: "answers[ethnicity]",
          fieldset: {
            legend: {
              text: "What is your ethnic background?",
              isPageHeading: false,
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          value: data.answers.ethnicity,
          items: [
            {
              value: "asian_or_asian_british",
              text: "Asian or Asian British"
            },
            {
              value: "black_african_caribbean_or_black british",
              text: "Black, African, Caribbean or Black British"
            },
            {
              value: "mixed_or_multiple_ethnic_groups",
              text: "Mixed or multiple ethnic groups"
            },
            {
              value: "white",
              text: "White"
            },
            {
              value: "other_ethnic_group",
              text: "Other ethnic group"
            },
            {
              divider: "or"
            },
            {
              value: "prefer_not_to_say",
              text: "I prefer not to say"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>

      <p class="nhsuk-body">
        <a class="nhsuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
