{% extends "prototype_v4/views/layouts/main.html" %}

{% set title = "Your height" %}

{% set bodyTextMarkdown %}
An accurate measurement is important.

You can measure your height at home with a measuring tape. Some pharmacies and gyms have machines to measure your height.
{% endset %}

{% block beforeContent %}
{{ backLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  {% include "prototype_v4/views/includes/error-summary.html" %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% include "prototype_v4/views/includes/page-heading.html" %}

      {{ bodyTextMarkdown | markdownToHtml | safe }}

      <form action="{{ actions.next }}" method="post" accept-charset="utf-8" novalidate>

        {{ input({
          id: "height-centimetres",
          name: "answers[height]",
          label: {
            text: "What is your height in centimetres?",
            isPageHeading: false,
            classes: "nhsuk-label--m"
          },
          hint: {
            text: "Centimetres"
          } if 1==0,
          suffix: "cm",
          value: data.answers.height,
          classes: "nhsuk-input--width-4"
        }) }}

        <p class="nhsuk-body">
          <a href="#" class="nhsuk-link">Switch to feet and inches</a>
        </p>

        {{ button({
          text: "Continue"
        }) }}

      </form>

      <p class="nhsuk-body">
        <a class="nhsuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
