{% extends "prototype_v4/views/layouts/main.html" %}

{% set title = "You are not eligible for an NHS lung scan" %}

{% set bodyTextMarkdown %}
The NHS lung scan is for people between the ages of 55 and 74.

According to your date of birth you are not in this age range.
{% endset %}

{% block beforeContent %}
{{ backLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% include "prototype_v4/views/includes/page-heading.html" %}

      {{ bodyTextMarkdown | markdownToHtml | safe }}

      {% include "prototype_v4/views/includes/speak-to-a-gp.html" %}

    </div>
  </div>
{% endblock %}
