{% extends "prototype_v4/views/layouts/main.html" %}

{% set title = "Periods when you stopped smoking" %}

{% set bodyTextMarkdown %}
There may have been periods when you stopped or quit smoking.

If you stopped smoking for periods of 1 year or longer, tell us the total number of years you stopped smoking.
{% endset %}

{% block beforeContent %}
{{ backLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  {% include "prototype_v4/views/includes/error-summary.html" %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% include "prototype_v4/views/includes/page-heading.html" %}

      {{ bodyTextMarkdown | markdownToHtml | safe }}

      <form action="{{ actions.next }}" method="post" accept-charset="utf-8" novalidate>

        {% set conditionalHtml %}
          {{ input({
            id: "years-stopped-smoking",
            name: "answers[yearsStoppedSmoking]",
            label: {
              text: "Enter the total number of years you stopped smoking",
              isPageHeading: false,
              classes: "nhsuk-label--s"
            },
            hint: {
              text: "Give an estimate if you are not sure"
            },
            suffix: "Years",
            inputmode: "numeric",
            value: data.answers.yearsStoppedSmoking,
            classes: "nhsuk-input--width-4"
          }) }}
        {% endset %}

        {{ radios({
          name: "answers[periodsStoppedSmoking]",
          fieldset: {
            legend: {
              text: "Have you ever stopped smoking for periods of 1 year or longer?",
              isPageHeading: false,
              classes: "nhsuk-fieldset__legend--m"
            }
          },
          value: data.answers.periodsStoppedSmoking,
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: conditionalHtml
              }
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>

      <p class="nhsuk-body">
        <a class="nhsuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
