{% extends "prototype_v4/views/layouts/main.html" %}

{% set title = "You do not need to test the online service" %}

{% set bodyTextMarkdown %}
Because you have completed the questionnaire by phone you do not need to test the online service. This is because the online service asks the same questions.

Find out more about NHS lung cancer screening in [North West and South West London](https://www.healthylondon.org/our-work/lung-health-check/).
{% endset %}

{% block beforeContent %}
{{ backLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  {% include "prototype_v4/views/includes/error-summary.html" %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% include "prototype_v4/views/includes/page-heading.html" %}

      {{ bodyTextMarkdown | markdownToHtml | safe }}

      {% include "prototype_v4/views/includes/speak-to-a-gp.html" %}

    </div>
  </div>
{% endblock %}
