{% extends "prototype_v4/views/layouts/main.html" %}

{% set title = smokingType.settingHeading %}
{% set caption = smokingType.caption %}

{% block beforeContent %}
{{ backLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  {% include "prototype_v4/views/includes/error-summary.html" %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="{{ actions.next }}" method="post" accept-charset="utf-8" novalidate>

        {% set headingText %}
          {% include "prototype_v4/views/includes/page-heading-legend.html" %}
        {% endset %}

        {{ checkboxes({
          name: "answers[" + type + "][smokingSetting]",
          fieldset: {
            legend: {
              html: headingText,
              isPageHeading: true,
              classes: "nhsuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          values: data.answers[type].smokingSetting,
          items: [
            {
              value: "group",
              text: "In a group"
            },
            {
              value: "individual",
              text: "By myself"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>

      <p class="nhsuk-body">
        <a class="nhsuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
