{% extends "prototype_v4/views/layouts/main.html" %}

{% set title = smokingType.statusHeading %}
{% set caption = smokingType.caption %}

{% block beforeContent %}
{{ backLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  {% include "prototype_v4/views/includes/error-summary.html" %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      {% set legendText %}
        {% include "prototype_v4/views/includes/page-heading-legend.html" %}
      {% endset %}

      <form action="{{ actions.next }}" method="post" accept-charset="utf-8" novalidate>

        {{ radios({
          name: "answers[" + type + "][smokingStatus]",
          fieldset: {
            legend: {
              text: legendText,
              isPageHeading: true,
              classes: "nhsuk-fieldset__legend--l"
            }
          },
          value: data.answers[type].smokingStatus,
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ button({
          text: "Continue"
        }) }}

      </form>

      <p class="nhsuk-body">
        <a class="nhsuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
