<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_home.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
NHS Lung Health Check online
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block outerContent %}
<section class="nhsuk-hero">
  <div class="nhsuk-width-container nhsuk-hero--border app-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-hero__wrapper app-hero__wrapper">
          <h1 class="nhsuk-u-margin-bottom-4">Lung Health Check online prototypes</h1>
          <p class="nhsuk-body-l nhsuk-u-margin-bottom-1">This page allows you to view current and previous prototypes
            for Lung Health Check online</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2>Protoype version 1.0</h2>
    <p class="nhsuk-grey-date">Created: June 2025</p>
    <p>This is the first version of our prototype.</p>
    <a class="nhsuk-button nhsuk-button--secondary-solid" data-module="nhsuk-button" href="/prototype_v1/start-page">
  Open prototype
    </a>
    </div>
  
    <div class="nhsuk-grid-column-two-thirds">
        <hr class="nhsuk-section-break--l nhsuk-section-break--visible">
     <h4>Design History</h4>
      <p>
        We will have a link to our design history here in the future.
      </p>
              <hr class="nhsuk-section-break--l nhsuk-section-break--visible">

    <h4>Design Standards</h4>
      <p>
        We use the <a href="https://service-manual.nhs.uk/">NHS Design Principles</a> and <a href="https://www.gov.uk/service-manual/service-standard">GDS Service Standards</a> to guide our work and ensure that the services we are
        delivering are equitable and inclusive.
      </p>
        <hr class="nhsuk-section-break--l nhsuk-section-break--visible">
   <h4>Key links</h4>
      <p class="nhsuk-body">
        <a href="https://github.com/NHSDigital/prototype-lung-health-check">Lung Health Check online prototype on
          Github</a><br>
        <a href="https://service-manual.nhs.uk/design-system/prototyping">Getting started with prototyping</a>
      </p>
      
    </div>
  

  </div>
  <!-- End of content -->
{% endblock %}


<div class="nhsuk-footer" id="nhsuk-footer">
  <div class="nhsuk-width-container">
    <h2 class="nhsuk-u-visually-hidden">Support links</h2>
    <ul class="nhsuk-footer__list">
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Home</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" target="blank"
          href="https://service-manual.nhs.uk/accessibility">Accessibility</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" target="blank"
          href="https://www.nhs.uk/contact-us/nhs-app-contact-us/">Get in touch</a></li>
      <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" target="blank"
          href="https://nhsuk-prototype-kit.azurewebsites.net/docs/about">About and support</a></li>
    </ul>

    <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
  </div>
</div>