{% extends 'layout.html' %}
{% from 'radios/macro.njk' import radios %}
{% from 'button/macro.njk' import button %}

{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back();",
  text: "Back"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="tobacco-next" method="post" novalidate="true">
      <h1>Rolled cigarette smoking</h1>
      
      {% if data["smokedRegularly"] == "Yes-currently" %}
        <p>Tell us the highest number of grams of tobacco you smoke in a typical week.</p>
        
        <p>If you only smoke socially, for example at the weekend, tell us how many grams of tobacco you smoke on those occasions.</p>
        
        <h2 class="nhsuk-heading-m">What is the highest number of grams of tobacco you smoke in a typical week?</h2>
      {% else %}
        <p>Tell us the highest number of grams of tobacco you smoked in a typical week.</p>
        
        <p>If you only smoked socially, for example at the weekend, tell us how many grams of tobacco you smoked on those occasions.</p>
        
        <h2 class="nhsuk-heading-m">What is the highest number of grams of tobacco you smoked in a typical week?</h2>
      {% endif %}
      
      {{ radios({
        "idPrefix": "rolledCigarettesGrams",
        "name": "rolledCigarettesGrams",
        "fieldset": {
          "legend": {
            "text": "Select amount",
            "classes": "nhsuk-fieldset__legend--m"
          }
        },
        "value": data.rolledCigarettesGrams,
        "items": [
          {
            "value": "25 grams (1 oz)",
            "text": "25 grams (1 oz)"
          },
          {
            "value": "50 grams (2 oz)",
            "text": "50 grams (2 oz)"
          },
          {
            "value": "75 grams (3 oz)",
            "text": "75 grams (3 oz)"
          },
          {
            "value": "100 grams (4 oz)",
            "text": "100 grams (4 oz)"
          }
        ]
      }) }}
      
      {{ button({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}