{% extends 'layout.html' %}

{% set pageHeading = "Check if you need to ask for a face-to-face appointment" %}

{% block beforeContent %}
{{ backLink({
  href: "javascript:history.back();",
  text: "Back"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
        <form action="who-should-not-use-answer" method="post" novalidate="true">
<h2>{{pageHeading}}</h2>
<p>You need to do your NHS lung cancer risk check in person, not online, if you:</p>
<div class="nhsuk-inset-text">
  <span class="nhsuk-u-visually-hidden">You need to do your NHS lung cancer risk check in person, not online, if you:</span>
  <ul>
    <li>have been diagnosed with an eating disorder, or think you may have one</li>
    <li>have a condition that affects your height</li>
    <li>have had a limb amputation, or were born with a limb difference</li>
    <li>are pregnant</li>
  </ul>
  </div>
<p>This is because the online service uses automatic calculations based on your height and weight. It cannot give accurate results in these cases. </p>
<h3>Do you need to leave the online service and ask for a face-to-face appointment?</h3>
{{ radios({
  idPrefix: "canYouContinue",
  name: "canYouContinue",
  fieldset: {
    legend: {
      classes: "nhsuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
  value: data.canYouContinue,
  items: [
    {
      value: "Yes",
      text: "Yes, I have one or more of these conditions and need a face-to-face appointment"
    },
    {
      value: "No",
      text: "No, I can continue online"
    }
  ]
}) }}



      {{ button({
      text: "Continue"
      }) }}
</form>
  </div>
</div>
{% endblock %}